body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
textarea,
select,
input,
button {
  outline: none;
}
:focus {
  outline-color: transparent;
  outline-style: none;
}
.login {
  background: linear-gradient(270deg, #e81b6c, #f3c838, #e81b6c);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  -o-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
.btn-rosa {
  background-color: #557dd6;
  border: 0;
  padding: 10px;
  color: white;
  border-radius: 3px;
  width: 48%;
}
.btn-rosa:hover {
  background-color: #405fa2;
}
.btn-amarillo {
  background-color: #f9d15f;
  border: 0;
  padding: 10px;
  color: #3a3a3a;
  border-radius: 3px;
  width: 48%;
}
.btn-amarillo:hover {
  background-color: #e6c157;
}
.btn-despl-rosa {
  z-index: 10;
  position: fixed;
  right: 2vw;
  bottom: 4vh;
  background-color: #557dd6;
  padding: 10px 17px;
  font-size: 25px;
  border-radius: 50%;
  color: white;
  transition: 0.4s;
}
.btn-despl-rosa:hover {
  transform: scale(1.2);
}
.titulo-blanco {
  font-family: Montserrat;
  font-weight: 100;
  color: white;
}
.titulo-negro {
  font-family: Montserrat;
  font-weight: 100;
  color: black;
}
header {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
header img {
  margin-right: 3%;
}
.login {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.login .contenido-login {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5%;
  border-radius: 5px;
  width: 30%;
}
.login .contenido-login .cont-formulario form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.login .contenido-login .cont-formulario form input {
  background-color: hsla(0, 0%, 100%, 0.42);
  border: 0;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
}
.login .contenido-login .cont-formulario form .botones-login {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.cont-tabla-contactos {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.cont-tabla-contactos .resultado-tabla {
  width: 90%;
  margin-left: 8%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.cont-tabla-contactos .resultado-tabla table {
  font-family: 'Montserrat';
  font-size: 12px;
  width: 100%;
  border-spacing: 0!important;
}
.cont-tabla-contactos .resultado-tabla table tr {
  height: 70px;
  background: transparent;
  transition: 0.4s;
}
.cont-tabla-contactos .resultado-tabla table tr:hover {
  background: #dedede;
}
.cont-tabla-contactos .resultado-tabla table tr:nth-child(1):hover {
  background: transparent;
}
.despl-add-contactos.desp-activado {
  box-shadow: 0 0 10px 0px #989898;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 2%;
  background-color: #dedede;
  position: fixed;
  right: 7vw;
  bottom: 7vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  opacity: 1;
  transition: 0.4s;
  z-index: 10;
}
.despl-add-contactos.desp-activado form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.despl-add-contactos.desp-activado input.inp {
  width: 100%;
  margin-bottom: 10px;
  background-color: #ffffff4a;
  border: 0;
  border-radius: 25px;
  padding: 7px;
}
.despl-add-contactos.desp-desactivado {
  opacity: 0;
  z-index: -1000;
  margin-left: 101vw;
  display: none;
}
#map {
  position: relative;
  box-shadow: #b5b5b5 0px 0px 10px 1px;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 300px;
  max-height: 400px;
  z-index: 1;
  width: 95%;
  margin-left: 5%;
}
#buscar form {
  margin-left: 18vw;
  margin-bottom: 5vh;
  margin-top: 5vh;
}
#buscar form input {
  width: 40%;
  background-color: #e2e2e2;
  border: 1px solid #bdbdbd;
  border-radius: 25px;
  padding: 10px 15px;
}
.logo img {
  position: absolute;
  top: 2vh;
  right: 1vw;
  width: 100%;
  max-width: 70px;
}
